@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
  --purple: #E9DDF9;
  --purple-light: #F6E8FF;
  --blue: #C9D8FF;

  --main-gradient: linear-gradient(
    90deg,
    var(--purple-light) 0%,
    var(--purple) 40%,
    var(--blue) 100%
  );
}

.bg-main-gradient {
  background: var(--main-gradient);
}

html {
    scroll-behavior: smooth;
}

.top-gradient {
      background: var(--main-gradient);
} 



body {
    max-width: 100wv;
    overflow-x: hidden;
}

nav {
    height: 80px;
    width: 100%;
    background-color: white;
}

img {
    width: 100%;
}

p {
    line-height: 1.5;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: white;

}
    

.purple {
    color: #7342d6;
}

.logo {
    width: 160px;
    margin-top: 20px;
}

ul {
    display: flex;
    flex-direction: flex-end;

}

li {
    list-style-type: none;
}

.nav__link {
    display: inline-flex;
    align-items: center;
    height: 80px;
    line-height: 1;
    text-decoration: none;
    font-size: 20px;
    color: #7342d6;
    font-weight: bold;
    position: relative;
}

.nav__links li {
    margin: 0 16px;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: 50px;
    left: 0;
    transition: all 300ms ease;
}

.link__hover-effect:hover:after {
    width: 100%;
}

.link__hover-effect--purple:after {
    background-color: #7342d6;
}

.link__hover-effect--white:after {
    background-color: #fff;
}

.nav__link--primary {
    border: 2px solid #7342d6;
    border-radius: 4px;
    background-color: light purple;
}

.nav__link--primary:hover {
    text-decoration: none;
}

/* hero */ 

.hero {
    background-color: rgba(115,66, 214, 0.1);
    padding: 4rem 0;
    background: transparent;
}

.hero__container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 120px;
}

.lady__book {
    height: 100%;
    max-height: 50vh;
    padding-bottom: 160px;
}

.hero__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 56px;
    color: #7342d6;
    margin-bottom: 24px;
    text-align: center;
}

h2 {
    font-size: 32px;
    margin-bottom: 32px;
    text-align: center;
}


button {
    cursor: pointer;
}

button:active {
    transform: translateY(1px);
}

.btn__menu {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    color: #8f57ff;
    display: none;margin-top: 20px;
}

.menu__backdrop {
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
}

.menu--open .menu__backdrop {
    visibility: visible;
    display: flex;
    opacity: 1;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    padding: 32px 0;
}

.menu__link {
    font-size: 40px;
    color: white;
    text-decoration: none;
}

.menu__link:hover {
    text-decoration: underline;
    transition: all 300ms;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: white;
}

.btn {
    background: linear-gradient(90deg, #8f57ff, #8f57ff);
    color: white;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    transition: all 300ms ease;
    font-weight: bold;
}

.nav__button {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 6px;
    height: 40px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding: 8px;
    border-radius: 6px;
    border:none; 
    transition: all 300ms ease;
     background: linear-gradient(90deg, #8f57ff, #8f57ff);
    transition: all 300ms ease;
}

.nav__button:hover {
     background: linear-gradient(90deg, #8f57ff, #6c8cff);
}

.nav__button span {
  display: inline-block;
  transition: transform 300ms ease;
}

.nav__button:hover span {
  transform: scale(1.08);
}


.btn:hover {
    background: linear-gradient(90deg, #8f57ff, #6c8cff);
}

.btn span {
  display: inline-block;          
  transition: transform 300ms ease;
}

.btn:hover span {
transform: scale(1.08);
}

.hero__img--wrapper {
    padding: 20px;
    z-index: 2;
}

/* Main */

.container {
    padding: 56px 0;
    display: flex;
    justify-content: center;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-cursor {
    cursor: not-allowed;
}

/* Highlights */

#highlights {
    position: relative;
    max-width: 100vw;
}

#recent {
    padding-bottom: 180px;
}

#highlights:before,
#highlights:after {
    background: url('assets/wave.svg');
    content: "";
    position: absolute;
    width: 101vw;
    height: 12vw;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
}

#highlights:before {
    transform: translateY(-100%);
    top: 1px;
}

#highlights:after {
    transform: translateY(100%) rotate(180deg);
    bottom: 1px;
}

.highlight__wrapper {
    display: flex;
    
}

.highlight {
    padding: 0 24px;
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.highlight__para {
    text-align: center;
    max-width: 280px;
}

.highlight__img {
    border: 2px solid #a480ecaf;
    color: #7342d6;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 32px;
    margin-bottom: 24px;
}

.highlight__subtitle {
    font-size: 20px;
    margin-bottom: 16px;
}

/* FEATURES */

#features {
    padding-top: 8vw;
    position: relative;
    max-width: 100vw;
   

}

#explore {
    position: relative;
    max-width: 100vw;
    z-index: 0;
    background-color: #fff;
}

#explore::before,
#explore::after {
    background: url('assets/wave.svg');
    content: "";
    position: absolute;
    width: 101vw;
    height: 12vw;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}

#explore::before {
    transform: translateY(-100%);
    top: 0;
    left: 0;
}

#explore::after {
    transform: translateY(-100%); rotate: calc(180deg);
    bottom: 1px;
    left: 0;
    bottom: 0;
}

.books {
    display: flex;
    flex-wrap: wrap;
}

.book {
    width: 25%;
    padding: 24px;
}

.book__img {
    max-width: 380px;
    transition: all 300ms ease;
    cursor: no-drop;
}

.book__img--wrapper {
    margin-bottom: 8px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
}

.book:hover .book__img {
    transform: scale(1.03);
}

.book:hover .book__title-link::after {
    width: 100%;
}

.book__title {
    font-size: 20px;
    margin-bottom: 8px;
}

.book__title-link {
     display: inline-block;
    position: relative;
    text-decoration: none; 
    color: #000;      
}

.book__title-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;            
    width: 0;
    height: 3px;
    background-color: #7342d6;  
    transition: width 300ms ease;
}


.book__title-link:hover::after {
    width: 100%;
}

.book__title:hover {
    text-decoration: underline;
    cursor: no-drop;
}

.book__ratings {
    margin-bottom: 8px;
    color: #fabf2a;
}

.book__price--normal {
    text-decoration: line-through;
    padding-right: 6px;
    color: #bfbfbf;
}

/* EXPLORE */

/* FOOTER */

footer {
    background-color: #242424;
    padding-top: 180px;
}

.footer__list {
    display: flex;
}

.footer__list li {
    margin: 0 5px;
}

.footer__logo--img {
    width: 160px;
    filter: grayscale(1) invert(1);
}

.footer__link {
  text-decoration: none;
  position: relative;        
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: 27px;
    left: 0;
    transition: all 300ms ease;
}

.link__hover-effect:hover:after {
    width: 100%;
}

.link__hover-effect--white:after {
    background-color: #fff;
    bottom: -3px;
} 

.footer__link--disabled {
  cursor: not-allowed;
  pointer-events: none;         
  opacity: 0.6;                 
  text-decoration: none;         
}

.footer__link,
.footer__copyright {
    color: #fff;
}

.footer__copyright {
    margin-top: 10px;
}

@media (max-width: 1200px) {

 }
@media (max-width: 1024px) {

 }
@media (max-width: 768px)  {
    .btn__menu {
        display: block;
    }
    .nav__links {
        display: none;
    }
 }
@media (max-width: 480px)  { 

}